/* ---------------------------------------------------------
   1. IMPORTAÇÃO DE FONTES
---------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* ---------------------------------------------------------
   2. RESET / CONFIGURAÇÕES GERAIS
---------------------------------------------------------- */
* {
    padding: 0;
    border: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "manrope";
}


/* ---------------------------------------------------------
   3. CABEÇALHO (HEADER)
---------------------------------------------------------- */
.topo {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    align-items: center;
    text-align: center;
    gap: 10px;
}

button.allpost {
    background-color: black;
    color: white;
    border-radius: 16px;
    width: 195px;
    height: 60px;
    cursor: pointer;
}


/* ---------------------------------------------------------
   4. SEÇÃO PRINCIPAL (MAIN CONTENT)
---------------------------------------------------------- */
.container {
    margin-top: 50px;
    display: flex;
    gap: 30px; /* distância entre os artigos */
    flex-wrap: nowrap;
}

.alinhamento {
    padding-left: 122px;
    padding-right: 122px;
}
/* ---------------------------------------------------------
   5. ELEMENTOS INTERNOS DOS CARDS (ARTICLES)
---------------------------------------------------------- */

/* Data da postagem */
.data {
    display: block;
    margin: 8px;
}

.data2  {
    display: inline;
    margin: 4px;
}

/* Imagens dos artigos */
.img1,
.img2 {
    width: 378px;
    height: 270px;
    border-radius: 16px;
}

.img3,
.img4,
.img5,
.img6 {
    width: 110px;
    height: 80px;
    border-radius: 16px;
}

/* Títulos */
.h2texts {
    max-width: 378px;
    max-height: 72px;
    font-size: larger;
    line-height: 1.8;
}

/* Parágrafos */
.texts {
    max-width: 380px;
    max-height: 72px;
    line-height: 1.8;
}

.texts2 {
    max-width: 380px;
    max-height: 72px;
    line-height: 1.8;
}